## .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.pdb
*.dll
*.exe

## Node
node_modules/
dist/
npm-debug.log
yarn-error.log
.angular/
.vscode/

## Env
.env
.env.local
.env.*.local
